.comment {
  display: flex;
  padding-top: 6px;

  .comment__container {
    p {
      margin-left: 12px;
      margin-top: 3px;
      font-size: 12px;
      color: #65676b;
    }
    .comment__main {
      border-radius: 16px;
      background-color: #eff2f5;
      padding: 8px 12px;
      margin-left: 8px;
      color: #050505;
      p {
        font-size: 15px;
        line-height: 1.3333;
        margin: 0;
        color: #050505;
      }
    }
  }
}
