.sidebar__row {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  bottom: 10px;

  &:hover {
    background-color: #e3e7eb;
    border-radius: 10px;
  }

  .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
  }

  h4 {
    margin: 0 0 0 10px;
    font-weight: 500;
  }
}

.header--dropdown {
  bottom: 0px;
  h4 {
    font-weight: 400;
  }

  &:hover {
    background-color: #eff2f5;
  }
  .MuiSvgIcon-root {
    color: gray;
    background-color: rgb(223, 221, 221);
    border-radius: 100%;
    width: 36px;
    height: 36px;
    padding: 5px;
    font-size: xx-large;
  }
}
