.Header-dropdown-settings-user {
  display: flex;
  align-items: center;
  width: 100%;

  .dropdown-settings-user-avatar {
    width: 60px;
    height: 60px;
  }

  .dropdown-settings-user-info {
    margin: 0 0 0 10px;

    h3 {
      font-size: 17px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      color: gray;
    }
  }
}

.gray-line {
  width: 100%;
  height: 1px;
  background-color: #eff2f5;
  margin: 10px 0;
}
