.group {
  padding: 6px 0;

  .form-input {
    background: none;
    background-color: white;
    color: #1d2129;
    line-height: 1.34;
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 6px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #90949c;
    }
  }
}
