.sign-in-and-sign-up-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;

  .friendbook-logo {
    width: 300px;
  }

  .sign-in {
    margin-bottom: 200px;
  }
}
